<div class="auth-box-w">
  <div class="logo-w">
    <a href="<%= root_path %>"><%= image_tag "sst_logo.png", style: "height:100px;width:100px;" %></a>
  </div>
  <h4 class="auth-header">
    Registration
  </h4>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
    </div>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Enter your name" %>
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
      <div class="pre-icon os-icon os-icon-fingerprint"></div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password Confirmation" %>
      <div class="pre-icon os-icon os-icon-fingerprint"></div>
    </div>
    <div class="buttons-w">
      <%= f.submit "Submit", class: "btn btn-primary" %>
    </div>
    <br/>
    <p style="text-align: center;"><%= link_to "Log in", new_session_path(resource_name) %></p>
  <% end %>
</div>
