<div class="auth-box-w">
  <div class="logo-w">
    <a href="<%= root_path %>"><%= image_tag "sst_logo.png", style: "height:100px;width:100px;" %></a>
  </div>
  <h4 class="auth-header">
    Forgot your password?
  </h4>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  	<%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
    </div>
    <div class="buttons-w">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
    </div>
    <br/>
    <p style="text-align: center;"><%= link_to "Log in", new_session_path(resource_name) %></p>
  <% end %>
</div>