<% breadcrumbs.tap do |links| %>
  <% if links.any? %>
	<ul class="breadcrumb">
	    <% links.each do |link| %>
	      <li class="breadcrumb-item">
	      <% if link.current?  %>
	      	<span><%= link.text %></span>
	      <% else %>
	      	<%= link_to link.text, link.url %>
	      <% end %>
	      </li>
	    <% end %>
	</ul>
  <% end %>
<% end %>