<!--  START - Main Menu -->
<div class="menu-w color-scheme-light color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-over sub-menu-color-bright selected-menu-color-light menu-activated-on-hover">
  <a class="logo" href="<%#= pbt_dashboards_path %>">
    <%= image_tag "sst_logo.png", class: "logged-user-w avatar-inline", width: "250px", height: "200px;" %>
  </a>

  <div class="logged-user-w avatar-inline">
    <div class="logged-user-i">
      <div class="avatar-w">
        <%= image_tag "no_avatar.png" %>
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= current_user.name %>
        </div>
      </div>
    </div>
  </div>

  <ul class="main-menu">
    <li>
      <a href="<%= new_job_post_path %>">
        <div class="icon-w">
          <div class="os-icon os-icon-layout"></div>
        </div>
        <span>Create Job</span>
      </a>
    </li>
    <li>
      <a href="<%= job_posts_path %>">
        <div class="icon-w">
          <div class="os-icon os-icon-layout"></div>
        </div>
        <span>My Jobs</span>
      </a>
    </li>
    <li>
      <a href="<%= jobs_listing_job_posts_path %>">
        <div class="icon-w">
          <div class="os-icon os-icon-file-text"></div>
        </div>
        <span>Job Listing</span>
      </a>
    </li>
    <li>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
      <div class="icon-w">
        <div class="os-icon os-icon-signs-11"></div>
      </div>
      <span>Logout</span>
      <% end if user_signed_in? %>
    </li>
  </ul>

</div>
<!--  END - Main Menu -->