<!--------------------
START - Mobile Menu
-------------------->
<div class="menu-mobile menu-activated-on-click color-scheme-dark">
  <div class="mm-logo-buttons-w">
    <a class="mm-logo" href="<%#= dashboards_path %>">
      <%= image_tag "sst_logo.png" %>
      <span>GoGet</span>
    </a>
    <div class="mm-buttons">
      <div class="mobile-menu-trigger">
        <div class="os-icon os-icon-hamburger-menu-1"></div>
      </div>
    </div>
  </div>
  <div class="menu-and-user">
    <div class="logged-user-w">
      <div class="avatar-w">
          <%= image_tag "no_avatar.png" %>
]      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <%= current_user.name %>
        </div>
        <div class="logged-user-role">
          Administrator
        </div>
      </div>
    </div>
    <!--------------------
    START - Mobile Menu List
    -------------------->
    <ul class="main-menu">
      <li>
        <a href="">
          <div class="icon-w">
            <div class="os-icon os-icon-window-content"></div>
          </div>
          <span>Dashboard</span></a>
      </li>
      <li class="has-sub-menu">
        <a href="#">
          <div class="icon-w">
            <div class="os-icon os-icon-edit-32"></div>
          </div>
          <span>Content</span></a>
        <ul class="sub-menu">
          <li>
            <a href="">All Content</a>
          </li>
          <li>
            <a href="">Add New</a>
          </li>
        </ul>
      </li>
    </ul>
    <!--------------------
    END - Mobile Menu List
    -------------------->
  </div>
</div>
<!--------------------
END - Mobile Menu
-------------------->