<div class="auth-box-w">
  <div class="logo-w">
      <a href="<%= root_path %>"><%= image_tag "sst_logo.png", style: "height:100px;width:100px;" %></a>
  </div>
  <h4 class="auth-header">
    Login
  </h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email" %>
      <div class="pre-icon os-icon os-icon-user-male-circle"></div>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter your password" %>
      <div class="pre-icon os-icon os-icon-fingerprint"></div>
    </div>
    <div class="buttons-w">
      <%= f.submit "Log me in", class: "btn btn-primary" %>
      <div class="form-check-inline">
        <label class="form-check-label">
          Remember Me
          <%= f.check_box :remember_me, class: "form-check-input" %>
        </label>
      </div>
    </div>
    <br/>
    <p style="text-align: center;"><%= link_to "Don't have an account? Register Now!", new_user_registration_path %></p>
    <p style="text-align: center;"><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
  <% end %>
</div>