<%= form_with(model: @job, id: "new_job_post", local: true) do |f| %>
<h5 class="form-header">
  Create Job
</h5>
<div class="google_map_section" id="gmap-section">
  <fieldset class="form-group">
    <legend></legend>
    <!-- display google map -->
    <!-- display selected location information -->
    <p><b>Pickup Location Details</b></p>
    <div id="geomap" style="width: 100%;height: 300px;"></div><br/>
    <div class="form-group">
      <label for="">Pickup Address</label>
      <%= f.text_field :pickup_address, class: "pickup_addr form-control", id: "search_location" ,required: "required"  %>
      <div class="help-block form-text with-errors form-control-feedback"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Pickup Latitude</label>
          <%= f.text_field :pickup_latitude, class: "pickup_latitude form-control", placeholder: "Pickup Latitude", required: "required" %>
          <div class="help-block form-text with-errors form-control-feedback"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Pickup Longitude</label>
          <%= f.text_field :pickup_longitude, class: "pickup_longitude form-control", placeholder: "Pickup Longitude", required: "required" %>
          <div class="help-block form-text with-errors form-control-feedback"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">&nbsp;&nbsp;</label>
          <input id="submit-latlng" type="button" value="Search By Lat/Long" class="btn btn-primary form-control" style="height: 35px;">
        </div>
      </div>
    </div>
  </fieldset>
  <hr>
  <fieldset class="form-group">
    <legend></legend>
    <!-- display google map -->
    <!-- display selected location information -->
    <p><b>Drop-off Location Details</b></p>
    <div id="dropoff-geomap" style="width: 100%;height: 300px;"></div><br/>
    <div class="form-group">
      <label for="">Drop-off Address</label>
      <%= f.text_field :dropoff_address, class: "dropoff_addr form-control", id: "search_dropoff_location", required: "required" %>
      <div class="help-block form-text with-errors form-control-feedback"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Drop-off Latitude</label>
          <%= f.text_field :dropoff_latitude, class: "dropoff_latitude form-control", placeholder: "Drop-off Latitude", required: "required" %>
          <div class="help-block form-text with-errors form-control-feedback"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">Drop-off Longitude</label>
          <%= f.text_field :dropoff_longitude, class: "dropoff_longitude form-control", placeholder: "Drop-off Longitude", required: "required" %>
          <div class="help-block form-text with-errors form-control-feedback"></div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="">&nbsp;&nbsp;</label>
          <input id="submit-dropoff-latlng" type="button" value="Search By Lat/Long" class="btn btn-primary form-control" style="height: 35px;">
        </div>
      </div>
    </div>
  </fieldset>
	  <div class="form-buttons-w text-right">
	    <%= link_to "Cancel", job_posts_path, class: "btn btn-outline-primary" %>
	    <%= button_tag "Create", class: "btn btn-primary" %>
	  </div>
</div>
<% end %>