<% breadcrumb :job_posts, @job_posts %>
<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <div class="table-responsive">
              <h5 class="form-header">
                My Posted Job
              </h5>
              <table class="table table-lightborder">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pickup Location</th>
                    <th>Drop-off Location</th>
                    <th>Created At</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @hirer_jobs.each do |job|%>
                    <tr>
                      <td><%= job.id %></td>
                      <td><%= job.pickup_address %></td>
                      <td><%= job.dropoff_address %></td>
                      <td><%= job.created_at.to_s(:date_with_time) %></td>
                      <td><%= job.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <br/><hr><br/>
              <h5 class="form-header">
                My Claimed Job
              </h5>
              <table class="table table-lightborder">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pickup Location</th>
                    <th>Drop-off Location</th>
                    <th>Created At</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% @hiree_jobs.each do |job|%>
                    <tr>
                      <td><%= job.id %></td>
                      <td><%= job.pickup_address %></td>
                      <td><%= job.dropoff_address %></td>
                      <td><%= job.created_at.to_s(:date_with_time) %></td>
                      <td><%= job.status %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>