<% breadcrumb :job_listing %>
<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <div class="table-responsive">
              <h5 class="form-header">
                Jobs Nearby Me
              </h5>
              <table class="table table-lightborder">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Pickup Location</th>
                    <th>Drop-off Location</th>
                    <th>Distance ( from your current location to Pickup Location )</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% @jobs.each do |job|%>
                    <tr>
                      <td><%= job.id %></td>
                      <td><%= job.pickup_address %></td>
                      <td><%= job.dropoff_address %></td>
                      <td><%= job.distance.round(1).to_s + "km" %></td>
                      <td><%= policy(job).claim? ? (link_to "Claim", job_post_claim_path(job), method: :put, class: "btn btn-primary") : "Posted By You" %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>