<% breadcrumb :new_job_post %>
<div class="content-i">
  <div class="content-box">
    <div class="row">
      <div class="col-sm-12">
        <div class="element-wrapper">
          <div class="element-box">
            <%= render "form" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>