<%# Rails flash messages styled for Bootstrap 4.0 %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  <div class="content-box">
    <div class="row">
    	<div class="col-sm-12">
      	   <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> fade show" role="alert">
           		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           		<%= content_tag :div, msg, :id => "flash_#{name}" %>
      	   </div>
    	</div>
    </div>
  </div>
  <% end %>
<% end %>