<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoGet" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GoGet" %>">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @body_class %>">
    <div class="all-wrapper <%= @div_class %>">
      <%= render 'layouts/messages' %>
      <%= yield %>
      <div class="display-type"></div>
    </div>

    <%= javascript_include_tag 'application' %>
  </body>
</html>