<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "GoGet" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "GoGet" %>">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @body_class %>">
    <div class="all-wrapper <%= @div_class %>">
      <%#= render "shared/sidebar_search" %>
      <div class="layout-w">
          <%= render "shared/mobile_menu" %>
          <%= render "shared/left_sidebar" %>
        <div class="content-w">
          <%= render 'shared/breadcrumbs' %>
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div>
      </div>
      <div class="display-type"></div>
    </div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFjldLqa4gYUSCuadCTTH3JaZnMPBP_Lk&libraries=places"></script>
    <%= javascript_include_tag 'application' %>
    <%= yield :javascript %>
  </body>
</html>